<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link href="" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/font-family.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <script src="../js/bootstrap.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../imgs/SN-logo.png" /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Product1</a></li>
                <li><a class="dropdown-item" href="#">Product2</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Pricing</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Company
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Product1</a></li>
                <li><a class="dropdown-item" href="#">Product2</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Resources
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Product1</a></li>
                <li><a class="dropdown-item" href="#">Product2</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Success Stories</a>
            </li>
          </ul>
          <form class="d-flex">
            <button class="login-btn me-3">Login</button>
            <button class="btn-green px-3 py-0">Get Started</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="">
      <div class="hero-content">
        <img class="dog-window" src="../imgs/dog-window.svg" />

        <div class="hero-text">
          <h1 class="fw-bold">
            Create the popups your visitors deserve to see
          </h1>
          <p>Get more leads and sales without annoying your visitors.</p>
          <button class="btn-green me-3">Start your free trial</button>
          <button class="demo-btn me-3">
            <img src="../imgs/demo-img.jpg" /> Get a demo from Mathias
          </button>
        </div>
      </div>

      <h1 class="fw-bold text-center my-4">
        Multiple popups for<br />
        multiple
        <span class="position-relative"
          >goals
          <img class="text-underline w-100" src="../imgs/green-hr.svg" />
        </span>
      </h1>
      <p class="para-info mx-auto">
        From email capture to reducing cart abandonment, create multiple,
        personalized popups for different groups of visitors.
      </p>
      <div class="row ms-5 me-3">
        <div class="col-lg-3 col-md-6 col-sm-12 my-4">
          <img class="w-50" src="../imgs/feature1.svg" alt="" />
          <h4 class="fw-bold">Collect more emails</h4>
          <p>Grow a segmented email list with quality subscribers.</p>
          <a class="feature-link" href="#">Grow your email list</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 my-4">
          <img class="w-50" src="../imgs/feature2.svg" alt="" />
          <h4 class="fw-bold">Increase your sales</h4>
          <p>
            Sell more to your website visitors and make the most of your
            traffic.
          </p>
          <a class="feature-link" href="#">Drive more revenue</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 my-4">
          <img class="w-50" src="../imgs/feature3.svg" alt="" />
          <h4 class="fw-bold">Guide your visitors</h4>
          <p>Send visitors to the right products and pages at the right time</p>
          <a class="feature-link" href="#">Assist your visitors</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 my-4">
          <img class="w-50" src="../imgs/feature4.svg" alt="" />
          <h4 class="fw-bold">Help visitors out</h4>
          <p>
            Invite visitors to contact you at the exact moment they need help.
          </p>
          <a class="feature-link" href="#">Get in touch with visitors</a>
        </div>
      </div>

      <div class="row mx-3">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="partner-collection row mx-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p2.png" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p1.png" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p3.png" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p4.png" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p5.png" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p6.png" alt="logo" />
            </div>
          </div>
          <div class="d-flex">
            <img
              class="buddy-avatar"
              src="../imgs/user-avtar.jpg"
              alt="avatar"
            />
            <div class="">
              <a class="feature-link" href="#"
                >Or check out our wall of praise</a
              ><br />
              <p class="text-muted">"Not showing off of course</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="sticky-bg row mx-3 h-70 my-4">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img class="w-50 py-4" src="../imgs/b1.png" alt="logo" /><br />
              <img class="w-50 py-4" src="../imgs/b2.png" alt="logo" /><br />
              <img class="w-50 py-4" src="../imgs/b3.png" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <h2>
                <span class="position-relative">
                  35,000+
                  <img
                    class="text-underline w-100"
                    src="../imgs/green-hr.svg"
                  />
                </span>
                marketers have been where you are today
              </h2>
              <button class="login-btn">Read their stories</button>
            </div>
          </div>
        </div>
      </div>

      <div class="centered-h1-p">
        <h1 class="fw-bold my-4">
          No two visitors are<br />
          <i class="circle-highlight">alike </i>
        </h1>
        <p class="my-4">
          Meet each visitor where they are in their journey. Target them with
          personalized popups based on how much they know you and how they
          behave on your site.
        </p>
      </div>

      <div class="row mx-3">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
          <img
            class="w-75 my-4 rounded"
            src="../imgs/benif1.PNG"
            alt="phoneimg"
          />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="benifit-container my-4">
            <p class="feature-link">First-time visitors</p>
            <p class="text-muted">Returning subscribers</p>
            <p class="text-muted">Repest customers</p>
            <div class="position-absolute bottom-0">
              <img class="benif-icon" src="../imgs/icon1.PNG" alt="dish" />
              <h1 class="fw-bold">Turn new visitors into subscribers</h1>
              <p class="w-75">
                Greet first-time visitors with a timely popup (instead of those
                annoying popups that show the minute you load a website.)
              </p>
              <button class="featur-btn">See all features</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mx-3 bg-light">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
          <img class="w-75 my-4" src="../imgs/benif2.PNG" alt="phoneimg" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="benifit-container my-4">
            <p class="feature-link">First-time visitors</p>
            <p class="text-muted">Returning subscribers</p>
            <p class="text-muted">Repest customers</p>
            <div class="position-absolute bottom-0">
              <img class="benif-icon" src="../imgs/icon2.PNG" alt="dish" />
              <h1 class="fw-bold">Help subscribers make their first buy</h1>
              <p>
                Turn your email list into customers with unique offers, sales
                campaigns, and personalized recommendations.
              </p>
              <button class="featur-btn">See all features</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mx-3">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
          <img
            class="w-75 my-4 rounded"
            src="../imgs/benif2.PNG"
            alt="phoneimg"
          />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="benifit-container my-4">
            <p class="text-muted">First-time visitors</p>
            <p class="text-muted">Returning subscribers</p>
            <p class="feature-link">Repest customers</p>
            <div class="position-absolute bottom-0">
              <img class="benif-icon" src="../imgs/icon3.PNG" alt="dish" />
              <h1 class="fw-bold">Sell more to your existing customers</h1>
              <p>
                Welcome and wow your loyal customers with personal popups. Sell
                more to them-again and again.
              </p>
              <button class="featur-btn">See all features</button>
            </div>
          </div>
        </div>
      </div>

      <div class="orange-bg">
        <div class="row p-3">
          <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <img class="w-75" src="../imgs/employees.PNG" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="position-relative h-100">
              <div class="my-5" style="position: absolute; top: 25%">
                <h5 class="feature-link">Yay! You made it this far</h5>
                <h2 class="fs-title fw-bold">Ready to talk to a human?</h2>
                <button class="btn-green px-4 me-3 border-0">
                  Book a demo
                </button>

                <button class="demo-btn me-3 pe-4">
                  <img src="../imgs/demo-img.jpg" /> Have a Question?
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <h1>Sleeknote is made for busy marketers</h1>
        <p>
          Take full control of your pupups with our user-hiendly campaign
          builder Design branded popups and set up advanced targeting
          optione-without designer or developer
        </p>
      </div>

      <div class="row mx-3">
        <div class="col-lg-4 col-md-5 col-sm-12">
          <h2>Design stunning popups (without a designer)</h2>
          <p>
            Drag, drop, add, and remove. Create popups that match the look and
            feel of your site with a few clicks of a mouse
          </p>
          ✔ Drag & drop elements ✔Mobile-only editor ✔110+ popup templates ✓
          Multiple positions ✔ Advanced targeting
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12">
          <img src="" alt="system-creenshot" />
        </div>
      </div>

      <div class="row mx-3">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h2>Integrate with your favorite systems in minutes</h2>
          <button>View all integrations</button>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="">
            <img src="" alt="icon" />
            <p>
              Automatically send your new signups to Drip with our direct
              integration.
            </p>
            <a href="">Explore Drip</a>
          </div>
        </div>
      </div>

      <div class="text-center fw-bold fs-1 my-3">image scroller</div>

      <div class="bg-success py-3 my-3">
        <div class="row mx-3">
          <div class="col-lg-4 col-md-5 col-sm-12">
            <img src="" alt="" />
            <h2>1.800+ happy customers</h2>
            <p>
              It's so easy to get started with Sleeknote. Their customer success
              team is super service- minded and ready to help you with the
              implementation.
            </p>
          </div>
        </div>

        <div class="">LINK SCROLLER</div>
      </div>

      <div class="d-flex justify-entent-center">
        <p>
          Try busy marketers' favorite popup tool Test Sleeknote on your site
          for seven days and see how you can generate more leads and sales from
          day one. Start Free Trial See Popup Examples
        </p>
        <img src="" alt="" />
      </div>

      <div class="bg-info my-2 py-3 text-center">
        <h1>Take Look Inside Sleeknote</h1>
        <button>Start Your Free Trial</button><button>See popup example</button>
      </div>
    </div>
  </body>
</html>
