<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/font-family.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="../js/bootstrap.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>

  <body>
    <!-- home-container -->
    <div class="home-container">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../imgs/SN-logo.png" /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Product1</a></li>
                  <li><a class="dropdown-item" href="#">Product2</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Pricing</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Company
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Product1</a></li>
                  <li><a class="dropdown-item" href="#">Product2</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Resources
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Product1</a></li>
                  <li><a class="dropdown-item" href="#">Product2</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Success Stories</a>
              </li>
            </ul>
            <form class="d-flex">
              <button class="login-btn me-3 px-3 py-1">Login</button>
              <button class="btn-green px-3 py-1">Get Started</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="hero-content">
        <img class="dog-window" src="../imgs/dog-window.svg" />

        <div class="hero-text">
          <h1 class="fw-bold">
            Create the popups your visitors deserve to see
          </h1>
          <p>Get more leads and sales without annoying your visitors.</p>
          <button class="btn-green me-3">Start your free trial</button>
          <button class="demo-btn me-3">
            <img src="../imgs/demo-img.jpg" /> Get a demo from Mathias
          </button>
        </div>
      </div>

      <h1 class="fw-bold text-center my-4">
        Multiple popups for<br />
        multiple
        <span class="position-relative"
          >goals
          <img class="text-underline w-100" src="../imgs/green-hr.svg" />
        </span>
      </h1>
      <p class="para-info mx-auto">
        From email capture to reducing cart abandonment, create multiple,
        personalized popups for different groups of visitors.
      </p>
      <div class="row mx-3 my-5 feture-collection">
        <div class="col-lg-3 col-md-6 col-sm-12 my-4">
          <img class="w-50" src="../imgs/feature1.svg" alt="" />
          <h4 class="fw-bold">Collect more emails</h4>
          <p>Grow a segmented email list with quality subscribers.</p>
          <a class="feature-link" href="#">Grow your email list</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 my-4">
          <img class="w-50" src="../imgs/feature2.svg" alt="" />
          <h4 class="fw-bold">Increase your sales</h4>
          <p>
            Sell more to your website visitors and make the most of your
            traffic.
          </p>
          <a class="feature-link" href="#">Drive more revenue</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 my-4">
          <img class="w-50" src="../imgs/feature3.svg" alt="" />
          <h4 class="fw-bold">Guide your visitors</h4>
          <p>Send visitors to the right products and pages at the right time</p>
          <a class="feature-link" href="#">Assist your visitors</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 my-4">
          <img class="w-50" src="../imgs/feature4.svg" alt="" />
          <h4 class="fw-bold">Help visitors out</h4>
          <p>
            Invite visitors to contact you at the exact moment they need help.
          </p>
          <a class="feature-link" href="#">Get in touch with visitors</a>
        </div>
      </div>

      <div class="row mx-3">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="partner-collection row mx-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p2.svg" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p1.svg" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p3.svg" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p4.svg" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p5.svg" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="../imgs/p6.svg" alt="logo" />
            </div>
          </div>
          <div class="d-flex">
            <img
              class="buddy-avatar"
              src="../imgs/user-avtar.jpg"
              alt="avatar"
            />
            <div class="">
              <a class="feature-link" href="#"
                >Or check out our wall of praise</a
              ><br />
              <p class="text-muted">"Not showing off of course</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="sticky-bg">
            <div class="col-lg-6 col-md-6 col-sm-12 my-4">
              <img class="w-50 py-4" src="../imgs/b1.PNG" alt="logo" /><br />
              <img class="w-50 py-4" src="../imgs/b2.PNG" alt="logo" /><br />
              <img class="w-50 py-4" src="../imgs/b3.PNG" alt="logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-4">
              <h2>
                <span class="position-relative">
                  35,000+
                  <img
                    class="text-underline w-100"
                    src="../imgs/green-hr.svg"
                  />
                </span>
                marketers have been where you are today
              </h2>
              <button class="login-btn">Read their stories</button>
            </div>
          </div>
        </div>
      </div>

      <div class="centered-h1-p">
        <h1 class="fw-bold my-4">
          No two visitors are
          <span class="round"> alike </span>
        </h1>
        <p class="my-4">
          Meet each visitor where they are in their journey. Target them with
          personalized popups based on how much they know you and how they
          behave on your site.
        </p>
      </div>

      <div class="row m-3">
        <div class="my-2 col-lg-6 col-md-6 col-sm-12 text-center">
          <img
            class="w-100 my-4 rounded"
            src="../imgs/benif1.PNG"
            alt="phoneimg"
          />
        </div>
        <div class="my-2 col-lg-6 col-md-6 col-sm-12">
          <div class="benifit-container my-4">
            <p class="feature-link">First-time visitors</p>
            <p class="text-muted">Returning subscribers</p>
            <p class="text-muted">Repest customers</p>
            <div class="benifit-list">
              <img class="benif-icon" src="../imgs/icon1.PNG" alt="dish" />
              <h1 class="fw-bold">Turn new visitors into subscribers</h1>
              <p>
                Greet first-time visitors with a timely popup (instead of those
                annoying popups that show the minute you load a website.)
              </p>
              <button class="featur-btn">See all features</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-3 bg-light">
        <div class="my-2 col-lg-6 col-md-6 col-sm-12 text-center">
          <img
            class="w-100 my-4 rounded"
            src="../imgs/benif2.PNG"
            alt="phoneimg"
          />
        </div>
        <div class="my-2 col-lg-6 col-md-6 col-sm-12">
          <div class="benifit-container my-4">
            <p class="text-muted">First-time visitors</p>
            <p class="feature-link">Returning subscribers</p>
            <p class="text-muted">Repest customers</p>
            <div class="benifit-list">
              <img class="benif-icon" src="../imgs/icon2.PNG" alt="dish" />
              <h1 class="fw-bold">Help subscribers make their first buy</h1>
              <p>
                Turn your email list into customers with unique offers, sales
                campaigns, and personalized recommendations.
              </p>
              <button class="featur-btn">See all features</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-3">
        <div class="my-2 col-lg-6 col-md-6 col-sm-12 text-center">
          <img
            class="w-100 my-4 rounded"
            src="../imgs/benif2.PNG"
            alt="phoneimg"
          />
        </div>
        <div class="my-2 col-lg-6 col-md-6 col-sm-12">
          <div class="benifit-container my-4">
            <p class="text-muted">First-time visitors</p>
            <p class="text-muted">Returning subscribers</p>
            <p class="feature-link">Repest customers</p>
            <div class="benifit-list">
              <img class="benif-icon" src="../imgs/icon3.PNG" alt="dish" />
              <h1 class="fw-bold">Sell more to your existing customers</h1>
              <p>
                Welcome and wow your loyal customers with personal popups. Sell
                more to them-again and again.
              </p>
              <button class="featur-btn">See all features</button>
            </div>
          </div>
        </div>
      </div>

      <div class="orange-bg">
        <div class="row p-3">
          <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <img class="w-100" src="../imgs/employees.PNG" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="position-relative h-100">
              <div class="hero-text">
                <h5 class="feature-link">Yay! You made it this far</h5>
                <h2 class="fs-title fw-bold">Ready to talk to a human?</h2>
                <button class="btn-green px-4 me-3 border-0">
                  Book a demo
                </button>

                <button class="demo-btn me-3 pe-4">
                  <img src="../imgs/demo-img.jpg" /> Have a Question?
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mx-3 marketing-contaner">
        <img src="../imgs/umbrella-can.svg" class="img-left" />
        <div class="text-center marketing-line">
          <h1 class="fw-bold fs-title">Sleeknote is made for busy marketers</h1>
          <p>
            Take full control of your pupups with our user-hiendly campaign
            builder Design branded popups and set up advanced targeting
            optione-without designer or developer
          </p>
        </div>
        <img src="../imgs/umbrella-man.svg" class="img-right" />
      </div>

      <div class="benifit-block">
        <div class="col-text my-5">
          <div class="benifit-container my-4 offer-text">
            <h1 class="fw-bold">Design stunning popups (without a designer)</h1>
            <p>
              Drag, drop, add, and remove. Create popups that match the look and
              feel of your site with a few clicks of a mouse
            </p>
            <div class="benifit-list">
              <div class="row mx-1">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <span class="feature-link">✔</span> Drag & drop elements
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <span class="feature-link">✔</span> Mobile-only editor
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <span class="feature-link">✔</span> 110+ popup templates
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <span class="feature-link">✔</span> Multiple positions
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <span class="feature-link">✔</span> Advanced targeting
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-img text-center">
          <img
            class="w-75 my-4 rounded"
            src="../imgs/benif1.PNG"
            alt="phoneimg"
          />
        </div>
      </div>

      <div class="min-max-width">
        <div class="my-4">
          <h1 class="fw-bold">
            Integrate with your favorite systems in minutes
          </h1>
          <button class="featur-btn">
            <span class="material-symbols-outlined align-middle fs-5">
              share
            </span>
            View all integrations
          </button>
        </div>
        <div class="my-4 gray-card h-auto">
          <img src="../imgs/new.svg" alt="icon" />
          <br />
          <p>
            Automatically send your new signups to Drip with our direct
            integration.
          </p>
          <a href="">Explore Drip</a>
        </div>
      </div>

      <div class="d-flex justify-content-center flex-wrap my-3">
        <img class="my-auto mx-4" src="../imgs/y1.PNG" alt="" />
        <img class="my-auto mx-4" src="../imgs/y2.PNG" alt="" />
        <img class="my-auto mx-4" src="../imgs/y3.PNG" alt="" />
        <img class="my-auto mx-4" src="../imgs/y4.PNG" alt="" />
        <img class="my-auto mx-4" src="../imgs/y5.PNG" alt="" />
        <img class="my-auto mx-4" src="../imgs/y6.PNG" alt="" />
        <img class="my-auto mx-4" src="../imgs/y7.PNG" alt="" />
        <img class="my-auto mx-4" src="../imgs/y8.PNG" alt="" />
        <img class="my-auto mx-4" src="../imgs/y9.PNG" alt="" />
      </div>

      <br />
      <div class="py-3 my-3 bg-dark-green">
        <div class="row mx-3">
          <div class="my-4 col-lg-4 col-md-12 col-sm-12 text-center">
            <img class="rounded w-75" src="../imgs/manager.webp" alt="" />
            <h1 class="text-white mt-4">1.800+ happy<br />customers</h1>
          </div>
          <div class="my-4 col-lg-4 col-md-12 col-sm-12">
            <img class="my-5" src="../imgs/pink-3.svg" alt="" />
            <h2 class="fw-bold text-light-pink">
              It's so easy to get started with Sleeknote. Their customer success
              team is super service- minded and ready to help you with the
              implementation.
            </h2>
            <p class="text-green">
              Morten Storm Lind<br />
              E-commerce Manager, 3
            </p>
            <img class="float-end" src="../imgs/creadit.PNG" alt="" />
          </div>
        </div>

        <ul class="wall-container js-wall-container">
          <span>
            <li class="type-email">You guys are off the charts [Email]</li>

            <li class="type-portrait">
              Wish there were more people and emails like this
            </li>

            <li class="type-chat">
              Whenever I contact you, I get the feeling that you’re ready to
              help me
            </li>

            <li class="link">
              <a
                href="/success-stories/sofacompany"
                title="Read case study"
                target=""
                >Sleeknote is so easy to work with
                <span>Read case study</span></a
              >
            </li>

            <li class="type-chat">You rock!</li>

            <li class="type-chat">
              I just wanted to thank you guys for your awesome services
            </li>

            <li class="type-chat">Great customer care on live chat</li> </span
          ><span>
            <li class="link">
              <a
                href="/success-stories/firtal-web"
                title="Read case study"
                target=""
                >Creating a new campaign takes less than 15 minutes
                <span>Read case study</span></a
              >
            </li>

            <li class="type-portrait">Tea has been great</li>

            <li class="type-cursor">Sleeknote is our secret weapon</li>

            <li class="type-cursor">
              Excellent piece of software if you want something easy to set up
            </li>

            <li class="type-cursor">You guys are making a great product</li>

            <li class="link">
              <a
                href="/success-stories/booztlet"
                title="Read case study"
                target=""
                >You can set up a campaign within five minutes
                <span>Read case study</span></a
              >
            </li>

            <li class="type-chat">
              I really like your customer service and overall attitude
            </li> </span
          ><span>
            <li class="type-cursor">
              I like the templates and how easy I can customize them
            </li>

            <li class="type-cursor">The blog and resources are fantastic</li>

            <li class="link">
              <a href="/success-stories/apuls" title="Read case study" target=""
                >We get a hell of a lot of signups on our site with Sleeknote
                <span>Read case study</span></a
              >
            </li>

            <li class="type-chat">
              Our free trial was such a wonderful experience
            </li>

            <li class="type-cursor">
              We like your smooth setup, teaser and mobile feature
            </li>

            <li class="type-chat">I love the video tutorials</li>

            <li class="type-cursor">Creating a campaign is simple</li> </span
          ><span>
            <li class="link">
              <a
                href="/success-stories/haynes"
                title="Read case study"
                target=""
                >The great thing about Sleeknote is its simplicity
                <span>Read case study</span></a
              >
            </li>

            <li class="type-chat">Congratulations, you have done a good job</li>

            <li class="type-chat">Best service out of the tools I tested</li>

            <li class="link">
              <a href="/success-stories/atea" title="Read case study" target=""
                >It just blends in perfectly <span>Read case study</span></a
              >
            </li>

            <li class="type-cursor">You have the right approach to popups</li>

            <li class="type-cursor">
              We have gotten close to 4x-ing out leads since switching over to
              Sleeknote
            </li>

            <li class="type-portrait">
              Thank you Tea, that was the fastest support I ever had
            </li> </span
          ><span>
            <li class="type-email">
              I really love the way you guys communicate with your new clients
            </li>

            <li class="type-email">I love everything that you are doing</li>

            <li class="type-cursor">Your content is unbelievable</li>

            <li class="link">
              <a
                href="/success-stories/imerco"
                title="Read case study"
                target=""
                >I can quickly and easily create a SleekBox
                <span>Read case study</span></a
              >
            </li>

            <li class="type-cursor">
              Your marketing resources library is absolutely fantastic
            </li>

            <li class="type-cursor">
              The ROI of our Sleeknote subscription is super good
            </li>

            <li class="link">
              <a
                href="/success-stories/munkstore"
                title="Read case study"
                target=""
                >Sleeknote has been the foundation of our lead generation
                <span>Read case study</span></a
              >
            </li> </span
          ><span>
            <li class="type-cursor">
              It’s not rocket science to set up a campaign
            </li>

            <li class="type-cursor">
              Sleeknote is probably the most exciting app I use
            </li>

            <li class="link">
              <a
                href="/success-stories/dfds-seaways"
                title="Read case study"
                target=""
                >The people behind Sleeknote have been great
                <span>Read case study</span></a
              >
            </li>

            <li class="type-chat">
              I know the people at Sleeknote are there to help me
            </li>

            <li class="type-chat">
              If I have a problem, I always get a quick reply on chat
            </li>

            <li class="link">
              <a
                href="/success-stories/anodyne"
                title="Read case study"
                target=""
                >Sleeknote is such an easy tool to implement
                <span>Read case study</span></a
              >
            </li>

            <li class="type-cursor">
              There are tons of examples, templates, and inspiration
            </li> </span
          ><span>
            <li class="type-chat">Fast and personal service</li>

            <li class="type-cursor">Sleeknote is so versatile</li>

            <li class="type-comment">
              Seriously (repeatedly) impressed by your team
            </li>

            <li class="type-cursor">I love the access to expert advice</li>

            <li class="type-chat">
              All employees helped me in an excellent way
            </li>

            <li class="type-comment">10/10</li>

            <li class="type-comment">So many cool features in a short time</li>
          </span>
        </ul>
        <div class="text-end m-4">
          <a href="#" class="readmore">We got 947 more like this</a>
        </div>
      </div>

      <div class="my-5 text-center-div p-0 bg-white">
        <div class="position-relative">
          <img class="float-end w-50" src="../imgs/img-gallary1.PNG" alt="" />
          <img class="w-75 mx-auto" src="../imgs/img-gallary1.PNG" alt="" />
          <div class="my-5 text-middle">
            <h1 class="fw-bold">Try busy marketers' favorite popup tool</h1>
            <p>
              Test Sleeknote on your site for seven days and see how you can
              generate more leads and sales from day one.
            </p>
            <button class="login-btn my-2 px-3 py-2 me-3">
              Start Free Trial
            </button>
            <button class="btn-green my-2 me-3">See Popup Examples</button>
          </div>
        </div>
      </div>
      <br />
      <div class="dark-container">
        <img class="home-patch1" src="../imgs/patch1.png" />

        <span class="color-third">DON'T BE SHY</span>
        <h1 class="text-white fw-bold my-4">Take Look Inside Sleeknote</h1>
        <button class="text-white border-0 py-2 px-3 rounded bg-third me-3">
          Start Your Free Trial
        </button>
        <button class="text-white featur-btn rounded me-3 my-2">
          See popup example
        </button>
        <img class="home-patch2 my-2" src="../imgs/patch2.png" />
      </div>

      <div class="container">
        <footer
          class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
        >
          <div class="col mb-3">
            <!-- <svg class="bi " width="40" height="32">
                <use xlink:href="#bootstrap"></use>
              </svg> -->

            <div class="w-100">
              <h6>PRODUCT</h6>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted">
                    Increase Product Sales
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted">
                    Collect Email Addresses
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted">
                    Guide Your Visitors
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted">
                    Connect with Visitors
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted"> Product Demo </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col mb-3">
            <div class="w-100">
              <ul class="nav flex-column">
                <h6>&nbsp;</h6>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted">Academy</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted">Pricing</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted">
                    Managed Solution
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted">
                    Compare Sleeknote
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col mb-3">
            <h5>RESOURCES</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Blog</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Podcast</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Recipes</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Webinars</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Popup Examples</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Partner Program</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Book Free Demo</a>
              </li>
            </ul>
          </div>

          <div class="col mb-3">
            <h5>SUPPORT</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Support</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">GDPR</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted"
                  >Terms & Conditions</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Privacy Policy</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Contact Us</a>
              </li>
            </ul>
          </div>

          <div class="col mb-3">
            <h5>COMPANY</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">About</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Success Stories</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Careers</a>
              </li>
            </ul>
          </div>
        </footer>
        <div class="site-foot-contact-wrapper">
          <div class="site-foot-contact-content">
            <span class="site-foot-contact-left d-flex">
              <a href="/" class="site-foot-logo"
                ><img
                  width="224"
                  height="64"
                  src="https://sleeknotecom.wpenginepowered.com/wp-content/uploads/2023/12/logo-lockup-black-20231214-174149.svg"
                  class="attachment-full size-full entered lazyloaded"
                  alt="Sleeknote logo "
                  decoding="async"
                  data-lazy-src="https://sleeknotecom.wpenginepowered.com/wp-content/uploads/2023/12/logo-lockup-black-20231214-174149.svg"
                  data-ll-status="loaded"
                />&nbsp;<noscript
                  ><img
                    width="224"
                    height="64"
                    src="https://sleeknotecom.wpenginepowered.com/wp-content/uploads/2023/12/logo-lockup-black-20231214-174149.svg"
                    class="attachment-full size-full"
                    alt="Sleeknote logo"
                    decoding="async"
                  />&nbsp;</noscript
                ></a
              >
              <a href="tel:004571997707" class="site-foot-tel my-auto"
                >© 2023 Sleeknote ApS. Tel.: +45 71 99 77 07</a
              >
              <div
                class="site-foot-some site-foot-contact-right my-auto ms-auto"
              >
                <a
                  href="https://www.youtube.com/channel/UCUTC5YzaNyQwgIRrhqeCsKw"
                  >YouTube</a
                ><a href="https://www.linkedin.com/company/sleeknote/"
                  >LinkedIn</a
                ><a href="https://www.facebook.com/sleeknotecom/">Facebook</a
                ><a href="https://www.instagram.com/sleeknotecom/">Instagram</a
                ><a href="https://twitter.com/sleeknotecom">Twitter</a
                ><a href="https://dribbble.com/sleeknote">Dribbble</a>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
